<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <!-- Headers -->
    <div class="row" style="background-color: azure">
        <div class="col-md-8">
            <div style="padding: 30px; font-family: sans-serif">
                <h3 style="font-family: 'sans-serif'">Today's Coin Market Watch!</h3>
                <h6>The global Crypto market watchlist. Set your watchlist now and never miss
                any changes in coin prices!</h6>
            </div>
        </div>

        <div class="col-md-2" style="padding: 30px;">
            <a class="btn btn-primary" style="margin-top: 20px;">
                <span class="glyphicon glyphicon-eye-open"></span> My Watchlist
            </a>
        </div>
    </div>

    <!-- Content -->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Market Cap</th>
                    <th>Volume (24h)</th>
                    <th>Circulating Supply</th>
                    <th>Watchlist</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td><img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1.png" alt="btc-image" width="15px">  Bitcoin </td>
                    <td>¥415,013.19</td>
                    <td>¥7,744,249,529,458</td>
                    <td>¥458,176,486,935</td>
                    <td>18,681,975 BTC</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
